<div class="container mt-3">
  <h1>Lists</h1>
  <ul>
    <% @lists.each do |list| %>
      <li><%= list.name %></li>
      <%= link_to "Click here", list_path(list) %>
    <% end %>
  </ul>
  <p><%= link_to "Create a new list", new_list_path %></p>
</div>
